/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}


/* !COMMON */
body {
    font-family: 'Fredoka', sans-serif;
}
.container {
    width: 80%;
    margin: 2rem auto;
text-align: center;
}

.container > * {
    margin-bottom: 2rem;
}


/* !HEADING */
h1 {
    color: #E53170;
    font-size: 2rem;
}


/* !SECTION */
p {
    font-size: .8rem;
}

