/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !COMMON */
body {
    font-family: 'Fredoka', sans-serif;
    max-width: 1500px;
}

.container {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}


.container > * {
    margin-bottom: 2rem;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.box:nth-of-type(3n+2){
    margin: 0 25px;
}


/* !HEADING */
h1 {
    color: #E53170;
    font-size: 2rem;
}


/* !SECTION */
p {
    font-size: .8rem;
}


/* !MAIN */
.box {
    height: 5rem;
    width: calc(100% / 3 - 60px / 2);
    text-align: left;
    color: white;
    background-color: #0F0E17;
    display: inline-block;
    margin-bottom: 2rem;

}

/* *Box */
img{
    height: 5rem;
    float: left;
    margin-right: .3rem;
}

h2 {
    font-size: 1rem;
    margin: .3rem;
}

h3 {
    font-size: .8rem;
    margin: .3rem;
}

.email {
    color: #5FC2EB;
}
